# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env/
.venv/

# Distribution / packaging
build/
*.egg-info/

# FastAPI specific
.pytest_cache/

# IDE-specific
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Mypy cache
.mypy_cache/

# Coverage reports
.coverage
htmlcov/

# Environments
ENV/

# Databases
*.sqlite3
